@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="row">
    <div class="col-md-4">
        <TaskList Name="Tim"></TaskList>
    </div>
    <div class="col-md-4">
        <TaskList Name="Vuk"></TaskList>
    </div>
    <div class="col-md-4">
        <Counter></Counter>
    </div>
</div>
